.sort-list {
    position: absolute;
    top: 46px;
    background-color: #fff;
    -webkit-box-shadow: 2px 7px 38px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 7px 38px -8px rgba(0,0,0,0.75);
    box-shadow: 2px 7px 38px -8px rgba(0,0,0,0.75);
    min-width: 110px;
}

.white-list-table th {
    position: relative;
}

.sort-list li {
    color: #333;
    display: block;
    padding: 10px 15px;
}

.sort-list li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.sort-list li.active {
    background-color: #f2f2f2;
    cursor: default;
}

.th-datastatus:hover, .th-datastatus:focus {
    cursor: pointer;
}
.sort-list {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.fixed-user-count {
    position: fixed;
    bottom: -14px;
    background-color: rgba(72,75,77,0.8);
    padding: 8px 15px;
    color: #fff;
    margin-left: -15px;
    font-family: TradeGothicLTStd;
    font-size: 20px;
}