<div class="row">
  <div class="table-responsive">
    <table class="table table-bordered white-list-table">
      <thead tabindex="0" (blur)="userOnBlurListener()">
        <tr>
          <th>Prefix</th>
          <th><span class="th-datastatus" (click)="showFirstNameSortOptions()">First Name <i class="fa fa-caret-down fa-2" aria-hidden="true"></i>
          <ul class="list-unstyled sort-list"  *ngIf="sortWithFirstName">
            <li [ngClass]="{active: isActive('List A-Z') && columnProperty=='FirstName'}" (click)="sortUsers(1, 'FirstName'); selectedClass('List A-Z')">List A-Z</li>
            <li [ngClass]="{active: isActive('List Z-A') && columnProperty=='FirstName'}" (click)="sortUsers(-1, 'FirstName'); selectedClass('List Z-A')">List Z-A</li>
          </ul>
        </span>
          </th>
          <th><span class="th-datastatus" (click)="showLastNameSortOptions()">Last Name <i class="fa fa-caret-down fa-2" aria-hidden="true"></i>
          <ul class="list-unstyled sort-list"  *ngIf="sortWithLastName">
            <li [ngClass]="{active: isActive('List A-Z') && columnProperty=='LastName'}" (click)="sortUsers(1, 'LastName'); selectedClass('List A-Z')">List A-Z</li>
            <li [ngClass]="{active: isActive('List Z-A') && columnProperty=='LastName'}" (click)="sortUsers(-1, 'LastName'); selectedClass('List Z-A')">List Z-A</li>
          </ul>
          </span>
          </th>
          <th><span class="th-datastatus" (click)="showFilterOptions()">Status <i class="fa fa-caret-down fa-2" aria-hidden="true"></i>
          <ul class="list-unstyled sort-list" *ngIf="filterWithStatus">
            <li [ngClass]="{active: isActive('All')}" (click)="filterByStatus('All'); selectedClass('All')">All</li>
            <li [ngClass]="{active: isActive('Active')}" (click)="filterByStatus('Active'); selectedClass('Active')">Active</li>
            <li [ngClass]="{active: isActive('Inactive')}" (click)="filterByStatus('Inactive'); selectedClass('Inactive')">Inactive</li>
            <li [ngClass]="{active: isActive('Invited')}" (click)="filterByStatus('Invited'); selectedClass('Invited')">Invited</li>
            <li [ngClass]="{active: isActive('Added')}" (click)="filterByStatus('Added'); selectedClass('Added')">Added</li>
          </ul>
          </span>
          </th>
        </tr>
      </thead>
      <tbody>

        <tr *ngIf="!whiteListUserService.totalUsers && !globals.loading">
          <td class="text-danger text-center" colspan="4">
            <strong>No Records Found</strong>
          </td>
        </tr>

        <tr *ngFor="let whiteListUser of whiteListUserService.filteredUsers">
          <td>{{whiteListUser.Prefix}}</td>
          <td>{{whiteListUser.FirstName}}</td>
          <td>{{whiteListUser.LastName}}</td>
          <td>{{whiteListUser.Status}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container-fluid">
    <p class="fixed-user-count">
      {{whiteListUserService.totalUsers}} Users
    </p>
    <fab-button (refreshUsersList)='getWhiteListUsers()'>
    </fab-button>
  </div>

</div>