<div class="modal-header">
  <button type="button" class="close pull-right" aria-label="Close" (click)="usersForm.reset(); bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="usersForm">
    <ul class="list-unstyled form-builder" formArrayName="users" *ngFor="let item of usersForm.get('users').controls; let i = index;">
      <li [formGroupName]="i">
        <div class="row">
          <div class="form-group col-sm-6 col-xs-12">
            <select class="form-control" formControlName="Application">
                    <option value="" disabled="true" selected>Select Application</option>
                    <option *ngFor="let Application of Applications" [value]="Application">{{Application}}</option>
                  </select>
            <div *ngIf="formErrors[i].Application" class="text-danger">
              {{ formErrors[i].Application }}
            </div>
          </div>
          <div class="form-group col-sm-6 col-xs-12">
            <input pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" formControlName="EmailAddress" placeholder="Email Address">
            <div *ngIf="formErrors[i].EmailAddress" class="text-danger">
              {{ formErrors[i].EmailAddress }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-2 col-xs-12">
            <select class="form-control" formControlName="Prefix">
                    <option value="" disabled="true" selected>Prefix</option>
                    <option *ngFor="let Prefix of Prefixes" [value]="Prefix">{{Prefix}}</option>
                  </select>
            <div *ngIf="formErrors[i].Prefix" class="text-danger">
              {{ formErrors[i].Prefix }}
            </div>
          </div>
          <div class="form-group col-sm-4 col-xs-12">
            <input maxlength="25" pattern="[a-zA-Z0-9]*" class="form-control" formControlName="FirstName" placeholder="First Name">
            <div *ngIf="formErrors[i].FirstName" class="text-danger">
              {{ formErrors[i].FirstName }}
            </div>
          </div>
          <div class="form-group col-sm-4 col-xs-12">
            <input maxlength="25" pattern="[a-zA-Z0-9]*" class="form-control" formControlName="LastName" placeholder="Last Name">
            <div *ngIf="formErrors[i].LastName" class="text-danger">
              {{ formErrors[i].LastName }}
            </div>
          </div>
          <div class="form-group col-sm-2 col-xs-12">
            <button *ngIf="usersForm.get('users').length > 1" class="btn btn-primary" (click)="removeUser(i)">Delete</button>
          </div>
        </div>
      </li>
    </ul>
    <button [disabled]="!usersForm.valid || usersForm.get('users').length >= 10" class="btn btn-primary" (click)="addUser()">Add Another Record</button>
  </form>
  <div class="modal-footer row">
    <div class="col-sm-5 col-xs-6 col-sm-offset-1">
      <button [disabled]="!usersForm.valid" type="button" class="btn btn-primary btn-block" (click)="addNewWhiteListUsers(usersForm.value, false)">Add</button>
    </div>
    <div class="col-sm-5 col-xs-6">
      <button [disabled]="!usersForm.valid" type="button" class="btn btn-primary  btn-block" (click)="addNewWhiteListUsers(usersForm.value, true)">Add & Invite</button>
    </div>
  </div>
</div>