<div class="modal-header">
  <h4 class="modal-title text-success">{{validRecordsCount}} user(s) are valid</h4>
  <button style="top: -20px; position: relative;" type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title text-danger">{{invalidRecordsCount}} user(s) have incomplete information (edit below)</h4>
</div>
<div class="modal-body">
  <form [formGroup]="usersForm">
    <ul class="list-unstyled form-builder" formArrayName="users" *ngFor="let item of usersForm.get('users').controls; let i = index;">
      <li [formGroupName]="i">
        <div class="row">
          <div class="form-group col-sm-6 col-xs-12">
            <div *ngIf="formErrors[i].Application" class="text-danger">
              {{ formErrors[i].Application }}
            </div>
            <select class="form-control" formControlName="Application">
              <option value="" disabled="true" selected>Select Application</option>
              <option *ngFor="let Application of Applications" [value]="Application">{{Application}}</option>
            </select>            
          </div>
          <div class="form-group col-sm-6 col-xs-12">
            <div *ngIf="formErrors[i].EmailAddress" class="text-danger">
              {{ formErrors[i].EmailAddress }}
            </div>
            <input pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" formControlName="EmailAddress" placeholder="Email Address">           
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-2 col-xs-12">
            <div *ngIf="formErrors[i].Prefix" class="text-danger">
              {{ formErrors[i].Prefix }}
            </div>
            <select class="form-control" formControlName="Prefix">
              <option value="" disabled="true" selected>Prefix</option>
              <option *ngFor="let Prefix of Prefixes" [value]="Prefix">{{Prefix}}</option>
            </select>            
          </div>
          <div class="form-group col-sm-4 col-xs-12">
            <div *ngIf="formErrors[i].FirstName" class="text-danger">
              {{ formErrors[i].FirstName }}
            </div>
            <input maxlength="25" pattern="[a-zA-Z0-9]*" class="form-control" formControlName="FirstName" placeholder="First Name">            
          </div>
          <div class="form-group col-sm-4 col-xs-12">
            <div *ngIf="formErrors[i].LastName" class="text-danger">
              {{ formErrors[i].LastName }}
            </div>
            <input maxlength="25" pattern="[a-zA-Z0-9]*" class="form-control" formControlName="LastName" placeholder="Last Name">            
          </div>
          <div class="form-group col-sm-2 col-xs-12">
            <button class="btn btn-primary" (click)="removeInvalidUser(i)">Delete</button>
          </div>
        </div>
      </li>
    </ul>
  </form>
  <div class="modal-footer row">
    <div class="col-sm-5 col-xs-6 col-sm-offset-1">
      <button [disabled]="!usersForm.valid" type="button" class="btn btn-primary btn-block" (click)="mergeAndUploadBatchRecords(usersForm.value, false)">Add</button>
    </div>
    <div class="col-sm-5 col-xs-6">
      <button [disabled]="!usersForm.valid" type="button" class="btn btn-primary  btn-block" (click)="mergeAndUploadBatchRecords(usersForm.value, true)">Add & Invite</button>
    </div>
  </div>
</div>