<div id="container-floating" tabindex="0" (blur)="fabOnblurListener()">
  <div [class.float-active]="this.toggleFab===true" [hidden]="!toggleFab" [class.float-inactive]="this.toggleFab===false">
    <a class="nd4 nds"><span class="letter">Invite</span></a>
    <a class="nd3 nds"><span class="letter">Add Domain</span></a>
    <a 
      class="nd2 nds" 
      (click)="showUserModalPopup()">
      <span class="letter">Add Individual(s)</span>
    </a>
    <a 
      class="nd1 nds" 
      (click)="showBatchFileModalPopup()">
      <span class="letter">Add Batch File</span>
    </a>
  </div>
  <div id="floating-button" (click)="toggleFloatingActionButtons()" [class.fab-close]="this.toggleFab===true">
  </div>
</div>