#floating-button{
    width: 76px;
    height: 76px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    background: url('/assets/images/fab-plus.svg') no-repeat;
    background-size: 76px 76px;
    transition: all 0.6s;
    animation: edit-in 0.4s;

  }

  .fab-close {
    transform: rotateZ(-45deg);
    transition: all 0.6s;
    animation: edit-in 0.4s;
  }
  
  #container-floating{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 3;
  }
  
  #container-floating .float-active{
    height: 400px;
    width: 90px;
    bottom: 30px;
    right: 30px;
    position: fixed;
  }

  .fab-close{
    display: block;
    margin: auto;
    transition: all 0.8s;
    animation: edit-out 0.3s;
  }
  
  @keyframes edit-in{
      from {opacity: 0; transform: rotateZ(-70deg);}
      to {opacity: 1; transform: rotateZ(0deg);}
  }
  
  @keyframes edit-out{
      from {opacity: 1; transform: rotateZ(0deg);}
      to {opacity: 0; transform: rotateZ(-70deg);}
  }
  
  @keyframes plus-in{
      from {opacity: 1; transform: rotateZ(0deg);}
      to {opacity: 1; transform: rotateZ(45deg);}
  }
  
  @keyframes plus-out{
      from {opacity: 0; transform: rotateZ(45deg);}
      to {opacity: 1; transform: rotateZ(0deg);}
  }
  
  .nds{
    width: 50px;
    height: 51px;
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform:  scale(0);
    cursor: pointer;
    position: fixed;
  }
  
  .nd1{
    background-image: url('/assets/images/add-group.svg');
    background-size: 50px 51px;
    right: 46px;
    bottom: 120px;
    animation-delay: 0.2s;
      animation: bounce-out-nds 0.3s linear;
    animation-fill-mode:  forwards;
  }
  
  .nd2{
    background-image: url('/assets/images/individual.svg');
    background-size: 50px 51px;
    right: 46px;
    bottom: 180px;
    animation-delay: 0.15s;
      animation: bounce-out-nds 0.15s linear;
    animation-fill-mode:  forwards;
  }
  
  .nd3{
    background-image: url('/assets/images/domain.svg');
    background-size: 50px 51px;
    right: 46px;
    bottom: 240px;
    animation-delay: 0.1s;
      animation: bounce-out-nds 0.1s linear;
    animation-fill-mode:  forwards;
  }
  
  .nd4{
    background-image: url('/assets/images/invite.svg');
    background-size: 50px 51px;
    right: 46px;
    bottom: 300px;
    animation-delay: 0.08s;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode:  forwards;
  }
  
  @keyframes bounce-nds{
      from {opacity: 0;}
      to {opacity: 1; transform: scale(1);}
  }
  
  @keyframes bounce-out-nds{
      from {opacity: 1; transform: scale(1);}
      to {opacity: 0; transform: scale(0);}
  }
  
  #container-floating .float-active .nds{
    
    animation: bounce-nds 0.1s linear;
    animation-fill-mode:  forwards;
  }
  
  #container-floating .float-active .nd3{
    animation-delay: 0.08s;
  }
  #container-floating .float-active .nd4{
    animation-delay: 0.15s;
  }
  #container-floating .float-active .nd5{
    animation-delay: 0.2s;
  }

  #container-floating .float-inactive .nds, 
  #container-floating .float-inactive
  {
    animation: bounce-out-nds 3s linear;
    animation-fill-mode:  forwards;
    opacity: 0;
    transition: .5s ease-in-out all;
  }
  
  #container-floating .float-inactive .nd3{
    animation-delay: 0.08s;
  }
  #container-floating .float-active .nd4{
    animation-delay: 0.15s;
  }
  #container-floating .float-active .nd5{
    animation-delay: 0.2s;
  }


  .letter{
    position: absolute;
    text-align: right;
    padding: 4px 8px;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 16px;
    text-align: right;
    color: #097288;
    background-color: #fff;
    right: 58px;
    top: 14px;
    white-space: nowrap;
  }
  
  
  .profile{
    border-radius: 50%;
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
  }

  @media screen and (max-width: 767px) {

    #floating-button {
      width: 48px;
      height: 48px;
      bottom: 10px;
      right: 12px;
      background-size: 48px 48px;
    }

    .nd1 {
      bottom: 64px;
      right: 18px;
      background-size: 38px 38px;
      background-size: 38px 38px;
      width: 38px;
      height: 38px;
    }

    .nd2 {
      bottom: 114px;
      right: 18px;
      background-size: 38px 38px;
      width: 38px;
      height: 38px;
    }

    .nd3 {
      bottom: 164px;
      right: 18px;
      background-size: 38px 38px;
      width: 38px;
      height: 38px;
    }

    .nd4 {
      bottom: 214px;
      right: 18px;
      background-size: 38px 38px;
      width: 38px;
      height: 38px;
    }

    .letter {
      right: 48px;
      top: 6px;
    }

}