<div class="modal-header">
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row form-group">
    <div class="col-sm-7 col-sm-offset-1 col-xs-8">
      <div class="form-control">
        <span *ngIf="!selectedFile" style="color:#ccc;">Upload File</span>
        {{selectedFile}}
        <input id="batchfile" type="file" (change)="handleOnFileSelect($event)" style="visibility:hidden" />
      </div>
      <div *ngIf="fileFormatError" class="alert alert-danger">
        {{ fileFormatError }}
      </div>
    </div>

    <div class="col-sm-3 col-xs-4"> <label for="batchfile" class="btn btn-primary browse-btn">Browse</label></div>
  </div>
</div>
<div class="modal-footer row">
  <div class="col-sm-5 col-xs-6 col-sm-offset-1 form-group">
    <button [disabled]="!selectedFile || fileFormatError" type="button" class="btn btn-primary btn-block" (click)="addNewWhiteListUsers(false)">Add</button>
  </div>
  <div class="col-sm-5 col-xs-6 form-group">
    <button [disabled]="!selectedFile || fileFormatError" type="button" class="btn btn-primary  btn-block" (click)="addNewWhiteListUsers(true)">Add & Invite</button>
  </div>
</div>

