<header class="header" id="header-nav">
  <nav class="container-fluid">
    <ul class=" list-inline header-nav">
      <li>
        <span class="dh-logo">BNI Curbside Admin Portal</span>
      </li>
      <li class="pull-right">
        <ul class="list-inline admin-nav">
          <li class="hidden-xs pull-left">
            Welcome, <span class="admin-name">Nikki LeServe</span>
          </li>
          <li class="pull-left">
            <a>
                <span class="admin-user-icon">Admin User</span>
            </a>
          </li>
          <li class="hidden-xs">
            <button type="submit" class="btn btn-default btn-signout">Sign Out</button>
          </li>
        </ul>

      </li>
    </ul>
  </nav>
</header>