#header-nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #097288;
  height: 86px;
}

.header-nav {
  margin: 0;
}

.dh-logo {
  background: url('/assets/images/dignity-health-logo.svg') -8px 0 no-repeat;
  background-size: 230px 40px;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  width: 230px;
  height: 40px;
  margin-top: 22px;
}

.header-nav>li a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.admin-user-icon {
  background: url('/assets/images/account.svg') 0 0 no-repeat;
  background-size: 40px auto;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
}

.admin-nav {
  font-family: 'TradeGothicLTStd-Light';
  font-size: 18px;
  color: #fff;
}

.admin-nav {
  margin-top: 18px;
}
.admin-nav li {
  margin-right: 20px;
}
.admin-nav li:first-child{
  margin-top: 17px;
  margin-right: 10px;
}

.admin-nav li:last-child {
  margin-top: 4px;
  margin-right: 0;
}

.admin-nav .btn-signout {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #fff;
  font-family: 'TradeGothicLTStd-Bd2', sans-serif;
  padding: 7px 24px;
  font-size: 18px;
}


@media (max-width:767px) {

  .dh-logo {
    background-size: 168px auto;
    background-position: -2px 0;
    width: 168px;
    height: 42px;
    margin-top: 8px;
  }

  #header-nav {
    height: 60px;
  }
  
  .admin-user-icon {
    background-size: 22px;
    height: 24px;
    width: 24px
  }

  .admin-nav {
    margin-top: 14px;
    margin-right: 10px;
  }


}

