<div class="row row-eq-height">
  <div class="col-lg-2 col-md-3 col-sm-3">
    <div class="row">
      <app-navigation></app-navigation>
    </div>
  </div>

  <div class="col-lg-10 col-md-9 col-sm-9 main-content">
    <router-outlet></router-outlet>
  </div>
</div>