<div class="row">
  <div class="col-xs-6 form-group">
    <h2 class="text-orange">Whitelisted Domains</h2>
  </div>
  <div class="col-xs-6 form-group">
    <h3 class="pull-right">
      {{totalDomains}} Domains
    </h3>    
  </div>
</div>

<div class="table-responsive row">
  <table class="table table-bordered white-list-table">
    <thead>
      <tr>
        <th class="text-center">Domain ID</th>
        <th>Domain Name</th>
        <th>Created By</th>
        <th>Created On</th>
        <th>Deactivated Date</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let whiteListDomain of whiteListDomains">
        <td class="text-center">{{whiteListDomain.WhitelistDomainId}}</td>
        <td>{{whiteListDomain.DomainName}}</td>
        <td>{{whiteListDomain.CreatedBy}}</td>
        <td>{{whiteListDomain.CreatedOn}}</td>
        <td>{{whiteListDomain.DeactivatedDate}}</td>
        <td class="text-center">
          <span class="edit-icon" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
          <span class="remove-icon" title="Remove">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
          <span class="disable-icon" title="Disable"><i class="fa fa-ban" aria-hidden="true"></i></span>
        </td>
      </tr>
    </tbody>
  </table>
  <a (click)="openWhiteListDomainModal()" class="btn btn-primary btn-dh pull-right"><i class="fa fa-plus"></i> Add New Domain</a>
</div>
