.dn-nav>.navbar-default {
  background-color: #f2eeeb;
  border-top: 0;
  border-radius: 0;
  min-height: 20px;
  border: 0px;
}

.dn-nav .navbar-nav {
  float: none;
}

.dn-nav>.navbar-default .navbar-nav>li>a.active,
.dn-nav>.navbar-default .navbar-nav>li>a.active:focus {
  color: #4b4b4b;
}

.dn-nav>.navbar-default .navbar-nav>li>a.active:hover,
.dn-nav>.navbar-default .navbar-nav>li>a:focus,
.dn-nav>.navbar-default .navbar-nav>li>a:hover {
  color: #4b4b4b;
}

.dn-nav .nav-dropdown {
    position: relative;
    border: 0;
    background-color: #097288;
    border-radius: 0;
    -webkit-border-radius:0;
    box-shadow: none;
    margin: 0;
    width: 100%;
    padding: 0;

}

.dn-nav .nav-dropdown li a.active {
  font-family: 'TradeGothicLTStd-Bd2', sans-serif;
}

.dn-nav .nav-dropdown li a.active:hover,
.dn-nav .nav-dropdown li a:focus,
.dn-nav .nav-dropdown li a:hover {
  color: #fff;
  background-color: transparent;
}

.dn-nav .nav-dropdown li a {    
  padding: 12px 16px;
  color: #fff;
  display: block;
  font-family: 'TradeGothicLTStd';
   
}

.dn-nav .nav>li {
    overflow: hidden;
}

.bni-icon {
  background: url('/assets/images/bni-icon.svg') 0 0 no-repeat;
  background-size: 30px 26px;
  width: 30px;
  height: 26px;
  float: left;
  margin-right: 10px;
}

.dn-nav .navbar-default .navbar-nav>.open>a, 
.dn-nav .navbar-default .navbar-nav>.open>a:focus, 
.dn-nav .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
}

.navbar-nav li {
  float: none;
}

.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}

nav#nav ul li a {
  color: #484b4d;
  font-size: 20px;
  cursor: pointer;
}

nav#nav ul li a {
    padding: 19px 15px;
}

nav#nav ul li .nav-dropdown li a {
  padding-left: 25px;  
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
}
nav#nav ul li .nav-dropdown a {
    color: #fff;
}
nav#nav ul li .nav-dropdown {
  border-bottom: 1px solid #0d414f
}


section.panel {
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: inherit;
}

#toggle ul {
  margin-bottom: 0;
}

.dn-nav .navbar-nav > li {
  border-bottom:1px solid #484b4d;
}

.dn-nav .navbar-nav li ul li{
  border: 0;
}

@media screen and (min-width:768px) {
.dn-nav {
background-color: #f1eeeb;
position: fixed;
left: 0;
height: 100%;
width: 25%;
}
nav#nav ul li a {
  font-size: 16px;
}

nav#nav ul li .nav-dropdown li a {
  font-size: 16px;
}

}

@media screen and (min-width:1100px) {
  .dn-nav {
    width:16.66666667%;
  }
  nav#nav ul li a {
    font-size: 20px;
  }

  nav#nav ul li .nav-dropdown li a {
    font-size: 18px;
  }

  }


@media screen and (max-width:767px) {
  .dn-nav {
    background-color: #f1eeeb;
  }
}



