<div class="dn-nav">
  <div id="toggle" (click)="toggleNav()" [class.toggled]="navToggle === true">
    <ul class="list-unstyled">
      <li>
        <a>
          <span class="line l1"></span><span class="line l2"></span>
          <span class="line l3"></span>
        </a>
      </li>
    </ul>
  </div>
  <section id="full-screen-nav" class="panel" [class.active]="navToggle === true">
    <nav id="nav" (click)="toggleNav()">
      <ul class="nav navbar-nav list-unstyled">
        <li>
          <a (click)="changeNavigationStatus()"><span class="bni-icon"></span> BNI Submitter</a>
          <ul class="nav-dropdown" *ngIf="navigationShowHide">
            <li><a routerLink="/whitelist-users" routerLinkActive="active">Users</a></li>
            <li><a routerLink="/whitelist-domains" routerLinkActive="active">Domains</a></li>
          </ul>
        </li>
        <li class="visible-xs"><a routerLink="/" routerLinkActive="active"><i class="fa fa-sign-out fa-2" aria-hidden="true"></i> Sign Out</a></li>
      </ul>
    </nav>
  </section>
</div>