<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #domainForm>
    <div class="form-group">
      <label for="domainname">Domain Name:</label>
      <input type="text" class="form-control" id="domainname" name="domainname">
    </div>
    <div class="form-group">
      <label for="domaincreatedby">Created By:</label>
      <input type="text" class="form-control" id="domaincreatedby" name="domaincreatedby">
    </div>
    <button type="button" class="btn btn-warning" (click)="domainForm.reset()">Clear</button>
    <button type="button" class="btn btn-primary">Submit</button>
  </form>
</div>