/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
}
@font-face {
	font-family: 'TradeGothicLTStd';
	src: url('/assets/fonts/TradeGothicLTStd.eot');
	src: url('/assets/fonts/TradeGothicLTStd.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/TradeGothicLTStd.woff') format('woff'),
		url('/assets/fonts/TradeGothicLTStd.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TradeGothicLTStd-Light';
	src: url('/assets/fonts/TradeGothicLTStd-Light.eot');
	src: url('/assets/fonts/TradeGothicLTStd-Light.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/TradeGothicLTStd-Light.woff') format('woff'),
		url('/assets/fonts/TradeGothicLTStd-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'TradeGothicLTStd-Bold';
	src: url('/assets/fonts/TradeGothicLTStd-Bold.eot');
	src: url('/assets/fonts/TradeGothicLTStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/TradeGothicLTStd-Bold.woff') format('woff'),
		url('/assets/fonts/TradeGothicLTStd-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'TradeGothicLTStd-Bd2';
	src: url('/assets/fonts/TradeGothicLTStd-Bd2.eot');
	src: url('/assets/fonts/TradeGothicLTStd-Bd2.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/TradeGothicLTStd-Bd2.woff') format('woff'),
		url('/assets/fonts/TradeGothicLTStd-Bd2.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

html,
body {
  font-family: 'TradeGothicLTStd', sans-serif;
  font-size: 14px;
  color: #484b4d;
  line-height: 1;
  height:100%;
  width:100%;
  font-weight: 300;
}

.wrapper {
	/* Layout wrapper */
    min-height:100%; 
    position:relative;
    
}

:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: auto;
    outline-width: 0;
}

img { 
	/* image Responsiveness */
    max-width: 100%;
    height: auto;
}

/* Basic Anchor links for complete app */
a {
   color:#59b7e7;
   background-color: transparent;
}

a:hover, a:focus {
    color: #1f97d5;
    text-decoration: none;
    
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/* End of Anchor links */

/* heading common margin and padding */
h1, h2, h3, h4, h5 {
    margin: 0 0 14px 0;
    padding: 0;
}

h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}

/* For fixed footer */
.view-container {
   padding-bottom:60px;
   overflow: hidden;
}

#content {
    position: relative;
    font-size: 18px;
}

.btn-dh {
     border-color: #2972b1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #2972b1;
    color: #ffffff;
}
.btn-dh:hover,
.btn-dh:focus{
    background-color: #2972b1;
    border-color: #2972b1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
}

.btn-dh:active{
    background-color: #143a5a;
    border-color: #143a5a;
}

.white-list-table {
  background-color: #ffffff;
  border:0;
}
.white-list-table thead tr{
    background-color: #474b4e;
    border: 0;
    color: #fff;

}
.white-list-table thead th {
    font-weight: normal;

}

.white-list-table.table-bordered>tbody>tr>td, 
.white-list-table.table-bordered>thead>tr>th {
    border-right: 0;
    border-left: 0;
    border-width: 2px;
    border-top:0;
    border-bottom:1px solid #b0a9a1
}

.white-list-table.table-bordered>tbody>tr>td, 
.white-list-table.table-bordered>thead>tr>th {
    padding: 17px 20px;
}
.white-list-table.table-bordered>tbody>tr>td {
    padding: 20px 20px;
}
.white-list-table.table-bordered>tbody>tr:first-child td {
    border-top: 0;
}

.white-list-table.table-bordered>thead>tr>th {
    border: 0;
}

.text-orange {
    color: #EA7931;
}
.text-danger{
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #bb3a3d;
}

.main-section {
    margin-top: 86px;
    font-size: 18px;
}

.alert-danger{
    margin-top: 15px;
}
.modal-header{
    border-bottom: 2px solid #8bbee8;
}
.modal-footer{
    border-top: 2px solid #8bbee8;
}
.dropdown-menu{
    z-index: 0 !important;
}

.modal-content{
    border-radius: 0;
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.form-control{
    border: 0;
    border-bottom: 2px solid #a3a5a6;
    border-radius: 0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    padding-left: 0;
    box-shadow:none;
}

.form-control:focus {
    box-shadow:none;
    border-color: #a3a5a6;
}

.modal-header {
    border-bottom:0;
    padding-bottom: 0;
}

.modal-footer {
    border-top:0;
}

.btn.disabled, 
.btn[disabled], 
fieldset[disabled] .btn,
.btn-primary.disabled.focus, 
.btn-primary.disabled:focus, 
.btn-primary.disabled:hover, 
.btn-primary[disabled].focus, 
.btn-primary[disabled]:focus, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary.focus, 
fieldset[disabled] .btn-primary:focus, 
fieldset[disabled] .btn-primary:hover {
    background-color: #ffffff;
    border-color: #097288;
    color: #097288;
    opacity: 1;
    font-size: 18px;
    font-family: 'TradeGothicLTStd-Bd2', sans-serif;
}

.btn-primary.active.focus, 
.btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary:active.focus, 
.btn-primary:active:focus, 
.btn-primary:active:hover, 
.open>.dropdown-toggle.btn-primary.focus, 
.open>.dropdown-toggle.btn-primary:focus, 
.open>.dropdown-toggle.btn-primary:hover {
    background-color: #097288;
    border-color: #097288;
    color: #ffffff;
}

.btn-primary {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: #097288;
    border-color: #097288;
    color: #ffffff;
    font-size: 18px;
    font-family: 'TradeGothicLTStd-Bd2', sans-serif;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background-color: #097288;
    border-color: #097288;
    color: #ffffff;
}

.modal-body .form-group {
    margin-bottom: 26px;
}

.form-builder li {
    padding-top: 30px;
}

.form-builder li:first-child {
    padding-top:0px;
}

.modal-header .close {
    background: url('/assets/images/close-model.svg') no-repeat 0 0;
    width: 16px;
    height: 16px;
    object-fit: contain;
    text-indent: -9999px;
    opacity: 1;
}

.modal-header {
    padding-bottom: 15px;
}

.browse-btn {
    width: 120px;
    border-radius: 100px;
    background-color: #097288;
    border: solid 1px #097288;
    font-family: 'TradeGothicLTStd-Bd2', sans-serif;
    font-size: 16px;
}

/* media Screen for desktop */

@media screen and (min-width: 1280px) {

  .container {
      width: 1250px;
  }
}

@media screen and (min-width:768px) {
      .table-responsive {
        border: 0;
        overflow: visible;
}

.dn-nav {
    background-color: #ddd;
    position: fixed;
    left: 0;
    height: 100%;
}

}

@media screen and (max-width:767px) {
    .table-responsive {
        border: 0;
    }
    .table-responsive>.table-bordered{
        border: 1px solid #dddddd;
    }

    .main-section {
        margin-top: 59px;
    }

    /* Navigation CSS */
  
  #toggle {
    position: fixed;
    right: 15px;
    top: 22px;
    z-index: 2;
  }
  
  #toggle ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 17px;
    height: 50px;
    
  }
  
  #toggle ul li {
    position: relative;
    width: 17px;
    height: 12px;
  }
  
  #toggle ul li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  #toggle ul li a:hover span {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #fff;
  }
  
  #toggle.toggled ul li a span {
    background-color: #fff;
  }
  
  #toggle ul li span {
    position: absolute;
    left: 0px;
    width: 17px;
    height: 2px;
    background-color: #fff;
  }
  #toggle ul li span.line.l2 {
    top: 50%;
  }
  #toggle ul li span.line.l3 {
    top: 100%;
  }
  
  #toggle ul li span.line {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  
  #toggle.toggled ul li span.l1 {
    -webkit-transform: translateY(6px) translateX(0px) rotate(45deg);
            transform: translateY(6px) translateX(0px) rotate(45deg);
  }
  
  #toggle.toggled ul li span.l2 {
    opacity: 0;
  }
  
  #toggle.toggled ul li span.l3 {
    -webkit-transform: translateY(-6px) translateX(0px) rotate(-45deg);
            transform: translateY(-6px) translateX(0px) rotate(-45deg);
  }

  section.panel#full-screen-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    opacity: 0;
    -webkit-transition: all 800ms;
    transition: all 800ms;
    pointer-events: none;
    z-index: 100
  }
  section.panel#full-screen-nav.active {
    opacity: 1;
    pointer-events: auto;
  }
  section.panel#full-screen-nav.active nav#nav ul li {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  section.panel#full-screen-nav.active nav#nav ul li:nth-child(2) {
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  section.panel#full-screen-nav.active nav#nav ul li:nth-child(3) {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  section.panel#full-screen-nav.active nav#nav ul li:nth-child(4) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  section.panel#full-screen-nav.active nav#nav ul li:nth-child(5) {
    -webkit-transition-delay: .8s;
            transition-delay: .8s;
  }
  
  nav#nav {
    position: relative;
    height: 100%;
    padding-left: 15px;
    padding-right:15px;
  }
  nav#nav ul li {
    opacity: 0;
    -webkit-transform: translatex(-20px);
            transform: translatex(-20px);
  }

  nav#nav ul li a span {
    display: block;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  .navbar-nav {margin-bottom: 0;}
  
  /* Navigation End */
}

/* end of media Screen desktop*/
